.table_btn{
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #1DC7EA;
    color: white
}

.table_btn:hover{
    background-color: #1DC7EA;
    color: white
}
.map_section_right .content .google-map{
  margin-left: 10px;
}
.map_section_1 .content .container-fluid .row .col-md-4 .card{
  margin-top: 10px;
  overflow: auto;
  height: 420px;
}
.main_section{
  margin-left: 10px;
}
.map_section_1 .content .container-fluid .row .col-md-8 .card{
  margin-top: 10px;
  overflow: auto;
  height: 420px;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(1){
  text-align: center;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(5){
  display: none;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(7){
  display: none;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(8){
  display: none;
}
