.table_btn{
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: #1DC7EA;
    color: white
}

.table_btn:hover{
    background-color: #1DC7EA;
    color: white
}

#sidebar > div.sidebar-wrapper > ul > li:nth-child(1){
  text-align: center;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(5){
  display: none;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(7){
  display: none;
}
#sidebar > div.sidebar-wrapper > ul > li:nth-child(8){
  display: none;
}
