.list_body{
    margin: 0 auto;
    padding: 0 auto;
  }
  .blackline_list{
    width:100%;
    height:75px;
    background:black;
  }
  .bulletin_top_img{
    background: url('../images/bulletin_top_img.png') no-repeat;
    background-size: cover;
    width:100%;
    height: 200px;
  }
  .bulletin_img_title{
    text-align:center;
    font-size:40px;
    font-family: 'NanumSquare', serif;
    color:white;
    padding-top:90px;
  }
  .MuiTableHead-root{
    text-align: center;
  }
  .MuiTableCell-body{
    text-align: center;
  }