/* html,
body,
#root,
.main,
.container,
.route
{
    height: 100%;
} */
.location{
    width:100%;
    height: 1000px;
     /* background:green;  */
    /* background: url(../images/map_bg2.png) no-repeat; */
    background-size: cover;
}
.blackline{
  width:100%;
  height:75px;
  /* margin-bottom:30px; */
  background:black;
}
.map_section_50{
  width:50%;
  height: 500px;
}
.map_section_50 .google-map{
  display: initial;
  width:40%;
  height: 500px;
}
.google-map > div:nth-child(1){
 margin:auto 0;
}
.map_section{
  width:100%;
  height: 900px;
  margin-left: 5%;
  
}
.map_section_left{
  width:35%;
  height: 600px;
  margin-left:5px;
  float:left;
  /* background:pink; */
  margin-top:70px;
  
  /* filter: blur(5px); */
}
.map_section_right{
  width:60%;
  height: 900px;
  float:right;
  /* background:skyblue; */
  margin-right: 20px;
}

/* 
.aeye_navbar{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    display: flex;
    z-index:1;
}
.navbar_opac{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75px;
    display: flex;
    background-color: black;
    opacity:0.5;
    z-index:1;
  } */

.mapbox p{
    font-size: large;
    /* position: absolute; */
    z-index: 1;
    background-color: white ;
}

.ui.container{
    max-width: 1900px;
}

.redbutton{
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    /* color: rgba(0,0,0,.6); */
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    /* margin: 0 .25em 0 0; */
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    /* text-shadow: none; */
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    margin-top: 24px !important;
    /* float: right; */
    font-size: 1rem;
    background-color: #db2828;
    color: #fff;
    text-shadow: none;
    background-image: none;
    box-shadow: 0 0 0 0 rgba(34,36,38,.15)inset;
}

/* Location_form css */

.toggle{
    right: 11em;
    /* position: absolute; */
    top: 4em;
}
.form{
    /* position: absolute; */
    margin: 0 auto;
    top: 0.5em;
    display: flex;
    width:50%;
    
    font-size: 1rem;
    right: -25em;
    /* max-width: 100%; */
    box-sizing: inherit;
    z-index:1;
    /* transform: translateX(-50%); */
}

.form .fields{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin: 0 -.5em 1em;
}

.fields{
    /* background-color: white; */
    padding: 7px;
    border-radius: 10px;
}
*, :after :before {
    box-sizing: inherit;
}

.form
.five.wide.field{
    /* width: 31.25% !important; */
}

.five{
    padding-left: .5em;
    padding-right: .5em;
}

.form
.fields>.field:first-child{
    border-left: none;
    box-shadow: none;
}
.form .fields:last-child .field {
    margin-bottom: 0;
}

.form .fields>.field {
    -webkit-box-flex: 0;
}

.form .fields .field {
    clear: both;
}

.form .field>label {
    display: block;
    margin: 0 0 .28571429rem 0;
    color: rgba(0,0,0,.87);
    font-size: .92857143em;
    font-weight: 700;
    text-transform: none;
}

.form input[type=text]{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    /* tap-highlight-color: rgba(255,255,255,0); */
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #000;
    border: 1px solid rgba(34,36,38,.15);
    /* color: rgba(0,0,0,.87); */
    color:white;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    width: 100%;
    vertical-align: top;
    overflow: visible;
}


.main{
    position: relative;
}

.blue .submit-button {
    margin-top: 24px !important;
    float: right;
    margin-left: 3px !important;
}


/* Location_list css */

.data {
    /* position: absolute; */
    top: 7em;
    right: -16em;
    display: block;
    padding: 4px;
}
.ui table{
    border-radius: 10px !important;
}
thead tr th {
    background: #FFFFFF !important;
}

.ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 0) !important;
}



/* 민석css */
.map_form{
  width:100%;
  height: 40%;
  margin-top:20px;
}
.map_form input[type=text]{
  width:80%;
  border:5px solid #aaa;
  border-radius: 4px;
  margin:5px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition: .5s;
  text-align: center;
  margin-left:10%;
}
.map_form input[type=text]:focus{
 border-color:dodgerblue;
 box-shadow: 0 0 8px 0 dodgerblue;
}

.map_form_fields{
  width:100%;
  background:white;
}
.form_location_fields{
  width: 100%;
  height: 75px;
  /* background:blue; */
}
.form_location_name{
  width:49%;
  height: 75px;
  float:left;
  /* background:pink; */
}
.form_location_explain{
  width:49%;
  height: 75px;
  float:right;
  /* background:beige; */
}

.form_location_title{
  text-align: center;
  font-family: 'NanumSquare', serif;
  margin-bottom: 0;
  padding-top:10px;
}
.form_location_input{
  font-family: 'NanumSquare', serif;
  margin-left: 30px;
}


.form_button_section{
  width:100%;
  height: 80px;
  margin-top:30px;
  /* background:green; */
}
.form_button_section> button{
  margin-left:40%;
}

.save_button{
  background:dodgerblue;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: 'NanumSquare', serif;
}
.save_button:hover{
  background:#fff;
  color:dodgerblue; 
}
.save_button:before,.save_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: dodgerblue;
  transition:400ms ease all;
}
.save_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.save_button:hover:before,.save_button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.map_section_category{
  width:100%;
  height: 50%;
  display:flex;
  /* border: 2px dotted; */
  /* margin-top:40px; */
  padding:3px;
  padding-top:30px;
  background:white;
}
.map_section_category .child{
  flex:1;
  text-align:center;
  /* border:1px solid black; */
  padding:5px;
  margin:2px;
}
.category_section{
  width:100%;
  
  /* height: 100px; */
}
.category_section .category_img{
  width:50%;
  height:80px;
}